@media (max-width: 500px) {

	.header {
		background-color: #ffffff;
		background-image: none;
	}

	.header .container {
		width: 470px;
	}

	.image-notebook {
		left: 30px;
		top: 140px;
		width: 80px;
	}

	.main-input {
		border: 1px solid #000000;
	}

	.image-conversion {
		top: 280px;
		left: 50px;
		width: 50px;
	}

	/*section-multiple*/

	.multiple  {
		background-image: none;
		background-color: #ffffff;
	}

	.multiple .container {
		width: 460px;
		padding: 50px 0px;
	}

	.build-title {
		color: #000000;
	}

	.build-subtext {
		color: #555555;
	}

	/*section-users*/

	.users {
		background-image: none;
		background-color: #ffffff;
	}

	.users .container {
		width: 460px;
	}

}