@media (max-width: 768px) {
	.header .container {
		width: 720px;
	}

	.header {
		background-size: contain;
		background-repeat: repeat-y;	
	}

	.main .container {
		padding: 50px 30px;
	}

	.image-notebook {
		top: 50px;
		left: 390px;
	}

	.image-conversion {
		right: 70px;
		top: 240px;
	}

	/*section-miltiple*/

	.multiple .container {
		width: 720px;
	}

	.content-multiple {
		flex-direction: column;
		justify-content: center;
	}

	.build {
		padding-right: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	.build-title {
		text-align: center;
	}

	.build-subtext {
		text-align: center;
	}

	/*section-users*/

	.users {
		background-image: url("../img/users-main-img.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		object-fit: cover;
	}

	.users .container {
		width: 720px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 60px 0px;
	}

	.content-users {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.text-users {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.users-title {
		font-size: 35px;
		width: 300px;
		text-align: center;
		margin: 0 auto;
	}

	.users-subtext  {
		font-size: 16px;
		line-height: 33px;
		width: 400px;
		text-align: center;
	}

	.users-link {
		font-size: 16px;
	}

	.image-users  {
		top: 10px;
		left: 10px;
		width: 150px;
	}

}